extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Подвал - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Подвал

			footer.pug

			.section-ui
				include ../../sections/footer.pug
			pre.
				include ../../sections/footer.pug

			.title sections/footer.pug
			pre.
				footer.footer
					p Ростислав Шевчук
					p Сверстано на курсе в WebCademy.ru в 2018 году 