extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Логотип - Документация';
	- var pageClass = 'body--dashboard dark-bg';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Логотип

			.section-ui
				+logo('Блог о путешествиях')
			pre.
				+logo('Блог о путешествиях')

			.title mixin _logo.pug
			pre.
				mixin logo(text)
					.logo #{text}