extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Textarea - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Textarea

			.section-ui
				+textarea("Я тоже там был, вот мои впечатления.")
			pre.
				+textarea("Я тоже там был, вот мои впечатления.") 
			
			.title mixins/_textarea.pug
			pre.
				mixin textarea(placeholder)
					textarea.textarea(placeholder= placeholder)